@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&family=Lato:wght@900&family=Outfit&display=swap');


*{
    padding: 0%;
    margin: 0%;
}
p{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #002454;
}
hr{
    width: 95%;
    margin: 55px auto;
}
h2{
    color: #002454;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
#logo{
    margin-top: 24px;
}

body{
    background-color: #B9E8FF;
}
header{
    display: flex;
    height: 153px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 4px 0px 15px 8px #00000040;
    width: 100%;
}
header #logo{
   height: 189px;
   width: 189px;

}
header h1{
    color: #002454;
    font-family: "Outfit", sans-serif;
    font-size: 96px;
    font-weight: 400;
    font-style: normal;
}
main #cara{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
#cara img{
    width: 750px;
}
#cara #sobre{
    flex: 1 1 658px;
    text-align: center;
    align-self: center;
}
#sobre h2{
    font-size: 44px;
    margin-bottom: 75px;
}
#sobre p{
    text-align: justify;
    font-size: 28px;
}
#videos h2{
    margin: 100px;
    font-size: 64px;
}
#videos .video{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}

#videos .video:nth-last-of-type(2n){
    flex-direction: row;
}
#videos .video p{
    width: 50%;
    text-align: justify;
    font-size: 28px;

}

#imgpessoas{
    mask-image: linear-gradient(to right, black 0%, transparent 100%);
}
#oprojeto{
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width:1400px) {
    hr{
           width: 97%;
    }
    header h1{
    font-size: 6vw;
    }
    #videos .video:nth-last-of-type(1n){
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
    margin: 80px auto;
    width: 95%;
    }
    #videos .video p{
        width: 95%;
    }
     #videos .video iframe{
        width: 100%;
        height: 50vw;
        border-radius: 10px;
    }
    #videos h2{
    margin: 100px;
    font-size: 8vw;
    text-align: center;
}
}
@media (max-width: 480px) {
    header #logo {
    height: 130px;
    width: 35%;
}
#sobre h2 {
    font-size: 9vw;
    margin-bottom: 35px;
}
#sobre p {
    text-align: justify;
    font-size: 1.3em;
}
#videos h2 {
        margin: 60px 0;
        font-size: 3em;
        text-align: center;
    }
    #videos .video iframe{
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.411);
        border-radius: 10px 1px 10px 1px;
    }
        #videos .video:nth-last-of-type(1n) {
        margin: 0 auto;
    }
    #videos .video p {
    font-size: 1.3em;
}
}